body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

.no-underline {
  text-decoration: none;
}

.inline-button {
  display: inline-block;
  vertical-align: middle;
}

.nav-container {
  display: flex;
  align-items: center;
}
